# Example systemd config. Added for illustration

[Unit]
Description=zzini http server
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=zzini
ExecStart=/usr/local/bin/zzini-server example.org public /my/path/to/certificate.pem /my/path/to/private_key.pem 
WorkingDirectory=/home/zzini

[Install]
WantedBy=multi-user.target
